
  
  .status-card {
    border-left: 1px solid rgb(69, 68, 68);
    border-right: 1px solid rgb(68, 68, 68);
    border-top: none;
    border-bottom: none;
    border-radius: 0px 0px;
  }
  .status-card h2 {
    font-size: 1.2em;
  }
  
  .status-card p {
    font-size: 1.5em;
    font-weight: bold;
  }